.pokemon-section {
  margin-top: 30px;
}

.pokemon-section-heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 18px;
}

.section-eyebrow {
  margin: 0 0 5px;
  color: #8d82bd;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.pokemon-section-heading h2 {
  margin: 0;
  color: #393255;
  font-size: 24px;
  font-weight: 900;
}

.pokemon-count {
  padding: 7px 12px;
  border-radius: 20px;
  background: #f0edff;
  color: #8176ae;
  font-size: 12px;
  font-weight: 800;
  white-space: nowrap;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
}

/* Card */

.pokemon-card {
  position: relative;
  overflow: hidden;

  min-height: 245px;
  padding: 15px;

  display: flex;
  flex-direction: column;

  text-decoration: none;

  background: rgba(255, 255, 255, 0.82);
  border: 1px solid rgba(255, 255, 255, 0.95);
  border-radius: 25px;

  box-shadow:
    0 12px 30px rgba(83, 70, 135, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.9);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.pokemon-card::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  right: -55px;
  top: -55px;

  border-radius: 50%;

  background: rgba(185, 169, 255, 0.18);
}

.pokemon-card:hover {
  transform: translateY(-7px);

  box-shadow:
    0 20px 40px rgba(83, 70, 135, 0.14),
    inset 0 1px 0 rgba(255, 255, 255, 1);
}

.pokemon-card:active {
  transform: translateY(-2px) scale(0.99);
}

.card-top {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-id {
  color: #aaa3be;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.7px;
}

.card-arrow {
  width: 27px;
  height: 27px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #f3f0ff;
  color: #7969c8;

  font-size: 14px;
  font-weight: 900;

  transition: transform 0.25s ease;
}

.pokemon-card:hover .card-arrow {
  transform: translate(2px, -2px);
}

.pokemon-art-wrapper {
  position: relative;

  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 145px;
}